@media (max-width: 1350px) {
   .gallery__inner-top,
   .gallery__inner-bottom {
      flex-wrap: wrap;
   }
   .gallery__inner-top img,
   .gallery__inner-bottom img {
      margin-bottom: 10px;
   }
}

@media (max-width: 1300px) {
   .section {
      padding: 130px 0;
   }
   .peak {
      background: none;
      padding-bottom: 0;
   }
   .peak__inner {
      margin-right: 0;
      max-width: 100%;
   }
   .peak__inner-text {
      padding-bottom: 0;
   }
   .about__text p {
      margin-bottom: 60px;
      font-size: 18px;
      line-height: 20px;
   }
   .gallery__inner-top,
   .gallery__inner-bottom {
      margin-bottom: 10px;
   }
   .gallery__inner-top img,
   .gallery__inner-bottom img {
      margin-right: 10px;
   }
}
@media (max-width: 1150px) {
   .text {
      font-size: 17px;
   }
   .burger {
      display: block;
   }
   ul.menu__list {
      transition: all 0.5s ease;
      transform: translateY(-200%);
      display: block;
      background-color: transparent;
      text-align: center;
      position: absolute;
      left: 0;
      right: 0;
      top: 100px;
   }
   .menu__list--active.menu__list {
      transform: translateY(0%);
   }
   .menu__list-item {
      padding: 5px 0;
      border-bottom: 1px solid $green;
   }
   .menu__list-item a {
      padding: 0 100px;
   }
   .menu__list-item a:hover {
      color: $green;
   }
   .menu__list-item a::after {
      display: none;
   }
   .header__title {
      font-size: 158px;
      line-height: 140px;
   }
   .about__content {
      display: block;
   }
   .about__text {
      margin-right: 0;
      width: 100%;
   }
   .about__text p {
      margin-bottom: 20px;
   }
   .service__inner {
      flex-wrap: wrap;
      justify-content: center;
   }
   .service__item {
      width: 800px;
      margin-bottom: 50px;
      font-size: 16px;
   }
   .service__stat {
      margin-top: 0;
   }
   .stat__bar {
      margin-right: 90px;
   }
   .service__item-title {
      margin-bottom: 49px;
   }
   .team__inner,
   .price__inner {
      display: block;
   }
   .team__item {
      margin: 0 auto 30px;
      width: 330px;
   }
   .price__item {
      margin: 0 auto 30px;
      max-width: 500px;
      width: 100%;
   }
   .connection__contact {
      padding-right: 10px;
   }
   .blockquote__text {
      font-size: 33px;
      line-height: 33px;
   }
}

@media (max-width: 920px) {
   .connection {
      padding-bottom: 0;
   }
   .connection__inner {
      flex-wrap: wrap;
   }
   .connection__contact {
      margin: 25px 0;
   }
   .connection__title {
      margin-bottom: 70px;
   }
   .contact__question {
      margin-bottom: 25px;
   }
   .contact__tlf {
      margin-bottom: 25px;
   }
   .connection__contact {
      padding-right: 30px;
   }
   .blockquote__author {
      margin-left: 445px;
   }
}

@media (max-width: 769px) {
   .title {
      font-size: 42px;
   }
   .service__stat {
      flex-wrap: wrap;
   }
   .stat__bar {
      width: 100%;
   }
   .slider__title {
      padding-right: 10px;
   }
   .stat__text {
      margin-top: 25px;
   }
   .slider__content {
      flex-wrap: wrap;
   }
   .slider__item {
      max-width: 400px;
   }
   .statistic__inner {
      flex-wrap: wrap;
   }
   .statistic__item {
      display: block;
      width: 50%;
      margin: 0;
   }
   .social {
      padding: 70px 0;
   }
   .blockquote__text {
      font-size: 27px;
   }
   .blockquote__author {
      font-size: 12px;
      margin: 0 auto;
   }
}

@media (max-width: 600px) {
   .header {
      height: 800px;
   }
   .header__title {
      font-size: 115px;
      line-height: 120px;
   }
   .header__subtitle {
      font-size: 19px;
      line-height: 20px;
   }
   .price__title,
   .team__title,
   .connection__title {
      margin-bottom: 70px;
   }
   .about__text p {
      height: 130px;
   }
   .stat__bar-item {
      display: flex;
      flex-wrap: wrap;
   }
   .stat__bar-item span {
      margin-right: 10px;
   }
   .video__fancy {
      height: 300px;
   }
   .blockquote__text {
      font-size: 24px;
   }
   .blockquote__author {
      font-size: 11px;
      margin: 0 auto;
   }
}

@media (max-width: 485px) {
   .title {
      font-size: 27px;
      line-height: 42px;
   }
   .about__text p {
      height: 160px;
   }
   .service__item {
      margin-bottom: 70px;
   }
   .gallery__inner-btn {
      display: flex;
      flex-direction: column;
   }
   .gallery-btn {
      margin-bottom: 20px;
   }
   .video {
      padding: 100px 0;
   }
}

@media (max-width: 424px) {
   .header__title {
      font-size: 100px;
      line-height: 110px;
   }
   .title::after {
      bottom: 0px;
      height: 27 px;
   }
   .about__text p {
      height: 190px;
   }
   .gallery__add-btn {
      font-size: 17px;
      padding: 19px 80px;
   }
   .social__inner {
      flex-direction: column;
   }
   .social__item {
      margin-bottom: 10px;
   }
   .connection__contact {
      font-size: 17px;
      line-height: 22px;
   }
   .price {
      padding: 70px 0;
   }
   .blockquote__content {
      padding: 40px 0;
   }
   .footer__logo {
      padding: 10px 0;
   }
}
@media (max-width: 361px) {
   .title {
      font-size: 22px;
      line-height: 42px;
   }
   .stat__bar {
      margin-top: 30px;
   }
   .about__text p {
      height: 240px;
   }
   .connection__form button {
      font-size: 16px;
      padding: 19px 80px;
      margin-top: 30px;
   }
   .service__item {
      margin-bottom: 90px;
   }
}
